name: Publish Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Create Release and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install build dependencies
        run: pip install build

      - name: Build package
        run: python -m build

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: solucetechnologies/agent-portabase

      - name: Set Docker tags
        id: set-tags
        run: |
          VERSION_TAG=${GITHUB_REF#refs/tags/}
          TAGS="solucetechnologies/agent-portabase:${VERSION_TAG},solucetechnologies/agent-portabase:latest"
          echo "TAGS=$TAGS" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ${{ env.TAGS }}

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v5
        with:
          mode: "COMMIT"
          configurationJson: |
            {
              "template": "#{{CHANGELOG}}",
              "categories": [
                {
                    "title": "## Feature",
                    "labels": ["feat", "feature"]
                },
                {
                    "title": "## Fix",
                    "labels": ["fix", "bug"]
                },
                {
                    "title": "## Other",
                    "labels": []
                }
              ],
              "label_extractor": [
                {
                  "pattern": "^(build|chore|ci|docs|feat|fix|perf|refactor|revert|style|test){1}(\\([\\w\\-\\.]+\\))?(!)?: ([\\w ])+([\\s\\S]*)",
                  "on_property": "title",
                  "target": "$1"
                }
              ]
            }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: false
          body: ${{ steps.build_changelog.outputs.changelog }}
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Send Discord Notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          RELEASE_TITLE="${{ github.ref_name }}"
          RELEASE_URL="${{ steps.create_release.outputs.url }}"
          if [ -z "$RELEASE_URL" ]; then RELEASE_URL="https://github.com/${{ github.repository }}/releases/tag/${{ github.ref_name }}"; fi
          
          RELEASE_BODY="${{ steps.build_changelog.outputs.changelog }}"
          
          AUTHOR_NAME="Portabase"
          AUTHOR_ICON="https://github.com/Portabase.png" 

          jq -n \
            --arg title "$RELEASE_TITLE" \
            --arg description "$RELEASE_BODY" \
            --arg url "$RELEASE_URL" \
            --arg author "$AUTHOR_NAME" \
            --arg icon "$AUTHOR_ICON" \
            '{
              content: "||@release-cli|| New release published",
              embeds: [{
                title: $title,
                url: $url,
                description: $description,
                color: 5814783,
                author: {
                  name: $author,
                  icon_url: $icon
                },
                footer: {
                  text: "Portabase"
                }
              }]
            }' > payload.json
          
          curl -H "Content-Type: application/json" \
               -d @payload.json \
               "$DISCORD_WEBHOOK"